<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
<nav class="navbar-default" ng-controller="HeaderController as vm">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#example" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h3> <a href="#">Heimildir</a></h3>
    </div>

    <div class="collapse navbar-collapse" id="example">
      <ul class="nav navbar-nav navbar-right">
        <li data-ng-repeat="con in vm.headerContent"><a href="#{{con.action}}" data-uk-modal>{{con.title}}</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
<div id="login" class="uk-modal">
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close"></a>
    <div class="uk-modal-header">
      <h2>Login</h2></div>
    <input type="text" placeholder="Username or email..." class="uk-form-width-large">
    <input type="password" placeholder="Password..." class="uk-form-width-large">
    <div class="uk-modal-footer uk-text-right">
      <button type="button" class="uk-button">Cancel</button>
      <button type="button" ui-sref="cite"class="uk-button uk-button-primary">Login</button>
    </div>
  </div>
</div>
<div id="signup" class="uk-modal">
  <div class="uk-modal-header">Sign Up!</div>
  <div class="uk-modal-dialog">
    <a class="uk-modal-close uk-close">Close</a>
    <p>SSSSSSSIIIIGNN UPPPM LOREMIPSUM V LOREMIPSUM LOREMIPSUM LOREMIPSUM LOREMIPSUM V LOREMIPSUM LOREMIPSUM LOREMIPSUM LOREMIPSUM V LOREMIPSUM LOREMIPSUM LOREMIPSUM LOREMIPSUM V LOREMIPSUM LOREMIPSUM LOREMIPSUM LOREMIPSUM V LOREMIPSUM</p>
  </div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
