<label for="author">Rithöfundur</label>
<input type="text" id="author"class="form-control" placeholder="{{vm.placeHolder}}" value="">
<label for="year">Útgáfuár</label>
<input type="text" id="year"class="form-control" placeholder="{{vm.placeHolder}}" value="">
<label for="pages">Pages</label>
<input type="text" id="pages"class="form-control" placeholder="{{vm.placeHolder}}" value="">
<label for="cppæ">Cppæ</label>
<input type="text" id="cppæ"class="form-control" placeholder="{{vm.placeHolder}}" value="">
