/**************************Main page styling*/
body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.navbar {
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
    margin-bottom: 0px; 

}

img {
    max-width: 100%;
    height: auto;
}

.modal-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
